<nz-list [nzDataSource]="articles" [nzItemLayout]="'horizontal'" [nzRenderItem]="article" [nzPagination]="pagination">
  <ng-template #article let-article>
    <nz-list-item>
      <nz-list-item-meta [nzTitle]="title" [nzDescription]="description">
        <ng-template #title>
          <a href="/article/{{ article.id }}" class="article-title">{{ article.title }}</a>
        </ng-template>
        <ng-template #description>
          <a href="/article/{{ article.id }}" class="article-description">{{ article.text.substring(0, 120) }} ...</a>
        </ng-template>
      </nz-list-item-meta>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination [nzPageIndex]="1" [nzPageSize]="5" [nzTotal]="1000" (nzPageIndexChange)="loadData($event)"></nz-pagination>
  </ng-template>
</nz-list>
<!-- TODO：这里nz-list不好用，得换自定义的列表！分页也得搞成 -->