<button nz-button (click)="location.back()"><i nz-icon nzType="left"></i>返回</button>
<nz-tabset nzLinkRouter>
  <nz-tab>
    <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'info' }" queryParamsHandling="merge">个人信息</a>
    <nz-descriptions nzTitle="个人信息" nzBordered>
      <nz-descriptions-item nzTitle="用户名">{{ username }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="用户ID">{{ user_id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Group ID">{{ group_id }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="权限身份">{{ group_id == '0' ? '管理员' : '游客' }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="令牌">{{ token }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="令牌过期时间">{{ tokenExpireDate.toLocaleString() }}</nz-descriptions-item>
    </nz-descriptions>
  </nz-tab>
  <nz-tab>
    <a nz-tab-link [routerLink]="['.']" [queryParams]="{ tab: 'pass' }" queryParamsHandling="merge">修改密码</a>
    （施工中）
  </nz-tab>
</nz-tabset>
